[run]
omit =
    /usr/lib/python2.6/site-packages/*
    /usr/lib/python2.7/site-packages/*
    /usr/lib/python3.3/site-packages/*
    /usr/lib/python3.4/site-packages/*

[report]
exclude_lines =
    if __name__ == .__main__.:
    def cli_main

    \# python 2
    \# not tested
