{{!
    mustache comment!
}}

Hello, {{ thing }}!

{{{html_escaped}}}
{{&html_escaped2}}

{{#show}}
Show is true!
{{/show}}

{{^show}}
Show is false!
{{/show}}

{{> partial}}

{{=<< >>=}}

<<delimiter.1>>

<<={{ }}=>>

{{delimiter.2}}

That's all folks!
