{{!
    mustache comment!
}}

Hello, {{ thing }}!

{{{<b>NO ESCAPE!</b>}}}
{{&<i>You understand?</i>}}

{{#show}}
Show is true!
{{/show}}

{{^show}}
Show if false!
{{/show}}

{{> partial}}

{{=<< >>=}}

<<delimiter>>

<<={{ }}=>>

{{delimiter

That's all folks!
