{{!
    mustache comment!
}}

Hello, {{ thing }}!

{{{html_escaped}}}
{{&html_escaped2}}

{{#show}}
Show is true!
{{/show}}

{{^show}}
Show if false!
{{/show}}

{{> partial}}

{{=<< >>=}}

<<delimiter>>

<<={{ }}=>>

{{delimiter}}

That's all folks!
